<div class="navbar">
  <div class="title-banner">
    <h1>Fine Fettling</h1>
  </div>
  <% if controller.class != PagesController && controller.action_name != 'landing' %>
  <div class="nav-btns">
    <a href="#">HOME</a>
    <a href="#">GARAGE</a>
    <a href="#">MEETINGS</a>
  </div>
  <% end %>
</div>
