<div class="down-caret">
  <%= link_to '#home-container' do %>
  <i class="fas fa-angle-down"></i>
  <% end %>
</div>
<div id="home-container">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam faucibus leo ac enim viverra auctor. Vivamus at ex tincidunt, feugiat metus a, porta risus. Morbi vehicula pellentesque interdum. Cras dictum, risus quis scelerisque euismod, sapien orci maximus dolor, in vehicula mauris velit at nisl. Fusce porta ipsum dictum nibh mollis, eget bibendum risus maximus. Aenean et finibus turpis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec ut purus elementum, varius ligula non, efficitur tortor. Vestibulum eu porta arcu. Maecenas lacinia nec leo ut mollis. Fusce at dolor quis massa consectetur rhoncus eu ac lacus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam feugiat blandit nibh quis sagittis. Aenean tincidunt nibh nisl, id gravida libero posuere a. Nam lacinia nulla sed magna ultricies, sit amet posuere neque lobortis.</p>
</div>
