<div class="meetings-container">
  <h3 class="text-center">*** PAGE TO BE UPDATED WITH ACTUAL CALENDAR ***</h3>
  <h3 class="text-left" style="margin-top: 25px;">
    14th/17th February - London Classic Car Show<br><br>
    6th/7th April - GRRC Members Meeting<br><br>
    28th April - MPH2 Drive it Day<br><br>
    18th/20th May - Spa Classi<br><br>
    9th/10th May - Eagle E Type visit/Go Karts<br><br>
    26th May - Haslemere Classic Car Sho<br><br>
    4th/7th July - Festival of Speed<br><br>
    10th/15th July - MPH2 Peak District Car Run/HERO rally<br><br>
    26th/28th July - Silverstone Classic<br><br>
    11th August GRRC - Annual Car Displa<br><br>
    13th/15th September - Goodwood Revival<br><br>
    13th/15th September - Circuit des Ramparts Angouleme<br><br>
    5th October Autumn - Classic Car Race Castle Combe<br><br>
    October - MPH2 Fly Drive to Autodromo do Algarve Classic Festiva<br><br>
    9th/11th November - NEC Classic Car Show<br><br>
  </h3>
</div>
