<div class="pricing-container">
  <div class="pricing-titles">
    <h1 class="pricing-title text-center">Simple, affordable pricing.</h1>
    <h4 class="pricing-strapline text-center">Affordable plans for everyone…</h4>
  </div>
  <div class="prices">
    <div class="member-plan standard">
      <h2 class="type">Starter</h2>
      <h1 class="price">£8</h1>
      <h4 class="billing-cycle">billed monthly</h4>
      <div class="benefits">
        <ul>
          <li>50% off at Spanner Dave’s</li>
          <li>1 free beer per meeting</li>
          <li>3% off tickets to Goodwood</li>
          <li>Weekly newsletters</li>
          <li>Subscription to the Herald</li>
        </ul>
      </div>
    </div>
    <div class="member-plan premium">
      <h2 class="type">Premium</h2>
      <h1 class="price">£20</h1>
      <h4 class="billing-cycle">billed monthly</h4>
      <div class="benefits">
        <ul>
          <li>Free MOT at Spanner Dave’s</li>
          <li>2 free beers per meeting</li>
          <li>Free entry to Vines Day</li>
          <li>Weekly podcast</li>
          <li>Free Mr Porkies at The Stag</li>
        </ul>
      </div>
    </div>
    <div class="member-plan presidente">
      <h2 class="type">El Presidente</h2>
      <h1 class="price">£1,000</h1>
      <h4 class="billing-cycle">billed monthly</h4>
      <div class="benefits">
        <ul>
          <li>Free use of Chairman’s Jag*</li>
          <li>Unlimited Bollinger</li>
          <li>Use of Club Helicopter</li>
          <li>Custom overalls w/ initials</li>
          <li>10 Track days per year</li>
        </ul>
      </div>
      <div>
        <p class="footnote text-center">*Providing it’s not at Spanner Dave’s</p>
      </div>
    </div>
  </div>
</div>
