.navbar {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  margin: 0 !important;
  padding: 0 !important;
}

.title-banner {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: black;
  justify-content: space-around;
  border: none;
  h1 {
    color: white;
    font-weight: bold;
    font-style: italic;
    font-size: 42px;
  }
}

.nav-btns {
  height: 46px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 50px rgba(0,0,0,0.2);
  .active {
    border-bottom: 4px solid black !important;
    font-weight: bold;
  }
  a {
    font-size: 16px;
    color: black;
    text-decoration: none;
    padding: 8px 12px;
    margin: 0 16px;
    transition: all 0.15s ease;
    border-bottom: 4px solid white;
    text-decoration: none !important;
  }
  a:hover {
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    border-bottom: 4px solid rgb(255,194,17);
  }
}
